node_modules
venv/
__pycache__/
build/
dist/

# Large files
GCTC/AEP/Notes/A Textbook in Advanced Engineering Physics.pdf
GCTC/AEP/Notes/Laser/LibreOffice_25.8.4_Win_x86-64.msi
style05.safetensors
yolo26m-pose.pt
GCTC/AEP/Notes/Vids/How_Lasers_Work.mp4
GCTC/BEE/Ref/Course File.pdf
GCTC/AEP/Notes/Vids/How_a_Ruby_Laser_Works.mp4
GCTC/AEP/Notes/Vids/Guiding_Light__Optical_Fibers.mp4
GCTC/AEP/Notes/Vids/Classification_Of_Magnetic.mp4
GCTC/AEP/Notes/Vids/Dielectrics_vs.mp4
GCTC/AEP/Notes/Vids/The_Invisible_Scalpel.mp4
